.muuri-wrapper {
  background: rgba(0, 0, 0, 0.08);
  padding: 5px;
}

.card-order {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 100%;
  &__parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
}
.dashboard-1-0, .dasboard-1-1, .dashboard-1-2, .dashboard-1-3 {
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.05);
}

.muuri-item-dragging {
  .card-order__parent {
    background: rgb(247, 200, 162);
  }
}

.resize-wrapper {
  .react-resizable__placehover {
    padding: 5px;
  }
}