.muuri-wrapper {
  background: rgba(0, 0, 0, 0.08);
  padding: 5px;
}
.dashboard-item-wrapper {
  padding: 5px;
  box-sizing: border-box;
}
.card-order {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.dasboard-1-0, .dasboard-1-1, .dashboard-1-2 {
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.05);
}