.interation-click {
  padding: 24px 16px;
  background: #fff;
  &__title {
    font-weight: bold;
    display: block;
    padding: 6px 0;
    margin-bottom: 12px;
  }
  .table-zone,
  .card-zone {
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 36px;
  }

  .card-item {
    padding: 6px 24px 12px;
    flex: 1;

    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__node {
      width: 30%;
    }
    .type-click {
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .table-item {
    padding: 6px 24px;
    flex: 1;
    .type-click {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
      &:hover {
        color: cornflowerblue;
      }
    }
  }
  .selected-item {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    transition: width 0.15s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    &__content {
      padding: 6px 24px;
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
    }
    &__sub {
      font-size: 10px;
      line-height: 1.5;
    }
    &__des {
      text-align: left;
      margin-top: 24px;
      font-size: 13px;
    }
    &__more {
      position: absolute;
      top: 54px;
      right: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 2px;
    }
    &__header {
      background: rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: flex-end;
    }
    &--hidden {
      width: 0;
      overflow: hidden;
      opacity: 0;
    }
    &--show {
      width: 30%;
      opacity: 1;
    }
  }

  &__dialog {
    .selected-popup-item__des {
      max-width: 400px;
      min-width: 100px;
    }
  }

  &__select-type {
    &.MuiFormControl-root {
      margin-left: 30px;
      flex-direction: row;
      align-items: center;
    }
    .MuiFormGroup-root {
      margin-left: 12px;
      flex-direction: row;
    }
  }
}
