.menu-item {
  width: 150px;
  overflow: hidden;
  padding: 3px 3px 0 3px;
  transition: box-shadow 0.1s ease-in-out;
  button,
  &__header__title {
    width: 80%;
    border-radius: 0;
    transition: all 100ms ease-in-out;
    border-bottom: 1px solid transparent;
    &:hover {
      background: initial;
      color: violet;
      border-bottom: 1px solid violet;
    }
  }

  &__popover {
    width: 150px;
    overflow: hidden;
    padding: 0 3px 3px 3px;
    background: white;
    z-index: 999;
  }
  &__sub {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0 6px rgba(0, 0, 0, 0.2);
  }

  &--active {
    .menu-item__header {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0 6px rgba(0, 0, 0, 0.2);
    }
    .MuiButton-root {
      background: initial;
      color: violet;
      border-bottom: 1px solid violet;
    }
  }
}
